psycopg[binary]==3.3.3
spacy==3.8.13
pysentimiento==0.7.3
transformers==4.57.6
huggingface-hub==0.36.2
numpy==2.4.4
click==8.3.2
typer==0.24.1
es_core_news_md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.8.0/es_core_news_md-3.8.0-py3-none-any.whl
