.env
.env.*
!.env.example

.git
.gitignore

Dockerfile*
docker-compose*.yml
docker-compose*.yaml

*.log
*.tmp
*.bak
*.backup
*.dump
*.sql
*.txt

bin/
tmp/
dist/
coverage/

vendor/

.DS_Store
Thumbs.db
